@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

:root {
  --anim-size: 30px;
  --anim-dot-size: 8px;
  --anim-standard-dist: calc(var(--anim-size) - var(--anim-dot-size));
  --anim-half-dist: calc(var(--anim-standard-dist) / 2);
  --anim-speed: 5s;
  --anim-dot-color-gray: #E2E8F0;
  --anim-dot-color-blue: #3B82F6;
}

/* Global */
.line-1{
    position: relative;
    top: 50%;
    border-right: 2px solid rgba(0, 0, 0, 0.75);
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter1 {
  animation: typewriter 1.5s steps(14) 1s 1 normal both,
             blinkTextCursor 500ms steps(14) infinite normal;
}

.anim-typewriter2 {
  border-right-color: transparent;
  animation: typewriter 1.5s steps(14) 1s 1 normal both,
             blinkTextCursor 500ms steps(14) infinite normal;
  animation-delay: 2.7s;
}

.desc-1 {
  animation: fadeIn 2s ease-in;
  animation-iteration-count: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes typewriter{
  0% {width: 0;
  }
  100% {
    width: 100%;
    
  }
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(0, 0, 0, 0.75);}
  to{border-right-color: transparent;}
}

.hover\:animation-paused:hover {
  animation-play-state: paused;
}

.animation-paused {
  animation-play-state: paused;
}

.animation-running {
  animation-play-state: running;
}

@keyframes BubbleFloat {
  0% {
    top: 0;
  }
  100% {
    top: 70%;
  }
}

@keyframes BubbleMove {
  0% {
    right: 0%;
  }
  100% {
    right: 100%;
  }
}

/* Visual Styles */

.map {
  transition: all 2s ease-in-out;
  transform-origin: center;
}

.map-area {
  animation: appear 0s linear 3s;
}

.map-area:hover + .map {
  
  transform: scale(3.5) rotate(-110deg) translate(-15%, 20%);
}

.home-content {
  transition: all 1s linear;
}

.map-area:hover ~ .home-content {
  transform: translateX(50%);
  opacity: 0;
}

.map-marker {
  opacity: 0;
}

.map-area:hover > .map-marker {
  transition: opacity 0.5s ease-in-out 2s;
  opacity: 1;
}

.map-caption {
  opacity: 0;
}

.map-area:hover ~ .map-caption {
  transition: opacity 0.5s ease-in-out 1.8s;
  opacity: 1;
}

.rotate-text {
  writing-mode: vertical-rl;
}

.cert-panel-microsoft {
  content: "";
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/44/Microsoft_logo.svg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 75% 75%;
  background-position: -90% -90%;
}

.cert-panel-comptia {
  content: "";
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/62/Comptia-logo.svg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 200%;
  background-position: 20% 10%;
}

.cert-panel-osha {
  content: "";
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/44/US-OSHA-Logo.svg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 130%;
  background-position: 40% 10%;
}

.cert-smooth-transition {
  animation: slideIn 1.5s ease-in-out 500ms;
}

@keyframes slideIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.picture:hover > .picture-item {
  left: 4px;
  top: -4px;

}

.picture:hover > .picture-bg {
  top: 4px;
  left: -4px;
}

.picture-bg, img.picture-item {
  transition: top 400ms ease-in-out, left 400ms ease-in-out;
}

.paddle-l {
  animation: control 4s ease-in-out alternate infinite;
}

.paddle-r {
  animation: control 4s ease-in-out alternate-reverse infinite;
}



@keyframes control {
  0% {
    transform-origin: top;
    transform: translateY(5%);
  }
  100% {
    transform-origin: bottom;
    transform: translateY(195%);
  }
}

.pong-ball {
  animation: bounce 4s linear alternate infinite, reflect 2s linear alternate infinite, colorShift 4s linear alternate infinite;
}

@keyframes bounce {
  0% {
    left: 40px;
  }
  100% {
    left: calc(100% - 72px);
  }
}

@keyframes reflect {
  0% {
    top: 40px;
  }
  100% {
    top: calc(100% - 32px);
  }
}

@keyframes colorShift {
  0% {
    background-color: #3B82F6;
  }
  100% {
    background-color: #6EE7B7;
  }
}

.portal-player {
  animation: jump .5s ease-out alternate infinite, teleport 1s .5s steps(2) alternate infinite;
}

@keyframes jump {
  0% {
    bottom: 12px;
  }

  100% {
    bottom: 130px;
  }
}

@keyframes teleport {
  0% {
    left: 33%;
  }
  100% {
    left: 100%;
  }
}

.portal {
  animation: ping 1s ease-out infinite;
}

@keyframes ping {
  0% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

.vector {
  opacity: 0;
  transition: opacity .5s linear;
}

.portal-box:hover > .vector {
  opacity: 1;
}

.text-cursor {
  border-right-width: 1px;
  animation: blink 500ms steps(14) infinite; 
}

@keyframes blink {
  from{border-right-color: #f9fafbbd;}
  to{border-right-color: transparent;}
}

.page {
  flex-basis: 0;
}

.cert-container:hover > .skills-list {
  transition: height 200ms ease-in;
  height: auto;
}

.image-frame {
  animation: shift-snap 10s ease infinite;
  animation-delay: 2000ms;
}

.image {
  animation: shift-smooth 10s ease infinite;
  
}

@keyframes shift-snap {
  0% {
    grid-column-start: 1;
  }
  33% {
    grid-column-start: 2;
  }
  66% {
    grid-column-start: 3;
  }
}

@keyframes shift-smooth {
  0% {
    transform: translateX(100%);
  }
  1% {
    transform: translateX(0);
  }
  32% {
    transform: translateX(50%);
  }
  33% {
    transform: translateX(-50%);
  }
  65% {
    transform: translateX(50%);
  }
  66% {
    transform: translateX(-50%);
  }
  99% {
    transform: translateX(-100%);
  }


}

.info-button:active {
  opacity: 0.5;
}

.music-list {
  scrollbar-color: blue;
}

.loading-icon-anim {
  display: relative;
  width: var(--anim-size);
  height: var(--anim-size);
  animation: loading-base var(--anim-speed) ease infinite;
}

@keyframes loading-base {
  0% {
    transform: rotate(0deg);
  }
  17% {
    transform: rotate(60deg);
  }
  33% {
    transform: rotate(120deg);
  }
  50% {
    transform: rotate(180deg);
  }
  67% {
    transform: rotate(240deg);
  }
  83% {
    transform: rotate(300deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.loading-icon-anim-circle-1, .loading-icon-anim-circle-2, .loading-icon-anim-circle-3 {
  position: absolute;
  width: var(--anim-dot-size);
  height: var(--anim-dot-size);

  background-color: var(--anim-dot-color-gray);
  border-radius: 100%;

  transform-origin: center center;

  
  
}

.loading-icon-anim-circle-1 {
  animation: loading-a var(--anim-speed) ease infinite;
}

.loading-icon-anim-circle-2 {
  animation: loading-b var(--anim-speed) ease infinite;
}

.loading-icon-anim-circle-3 {
  animation: loading-c var(--anim-speed) ease infinite;
  
}

@keyframes loading-a {
  0% {
    background-color: var(--anim-dot-color-blue);
    transform: translate(0, 0);
  }
  17% {
    background-color: var(--anim-dot-color-gray);
    transform: translate(var(--anim-standard-dist), var(--anim-standard-dist));
  }
  33% {
    background-color: var(--anim-dot-color-gray);
    transform: translate(var(--anim-standard-dist), 0);
  }
  50% {
    background-color: var(--anim-dot-color-gray);
    transform: translate(var(--anim-half-dist), 0);
  }
  51%{
    background-color: var(--anim-dot-color-blue);
  }
  67% {
    background-color: var(--anim-dot-color-gray);
    transform: translate(var(--anim-half-dist), var(--anim-standard-dist));
  }
  83% {
    background-color: var(--anim-dot-color-gray);
    transform: translate(0, var(--anim-standard-dist));
  }
  100% {
    background-color: var(--anim-dot-color-gray);
    transform: translate(0, 0);
  }
  
}

@keyframes loading-b {
  0% {
    background-color: var(--anim-dot-color-gray);
    transform: translate(var(--anim-half-dist), var(--anim-standard-dist));
  }
  17% {
    background-color: var(--anim-dot-color-gray);
    transform: translate(0, var(--anim-standard-dist));
  }
  33% {
    background-color: var(--anim-dot-color-gray);
    transform: translate(0, 0);
  }
  34% {
    background-color: var(--anim-dot-color-blue);
  }
  50% {
    background-color: var(--anim-dot-color-gray);
    transform: translate(var(--anim-standard-dist), var(--anim-standard-dist));
  }
  67% {
    background-color: var(--anim-dot-color-gray);
    transform: translate(var(--anim-standard-dist), 0);
  }
  83% {
    background-color: var(--anim-dot-color-gray);
    transform: translate(var(--anim-half-dist), 0);
  }
  84% {
    background-color: var(--anim-dot-color-blue);
  }
  100% {
    background-color: var(--anim-dot-color-gray);
    transform: translate(var(--anim-half-dist), var(--anim-standard-dist));
  }
  
}

@keyframes loading-c {
  0% {
    background-color: var(--anim-dot-color-gray);
    transform: translate(var(--anim-standard-dist), 0);
  }
  17% {
    background-color: var(--anim-dot-color-gray);
    transform: translate(var(--anim-half-dist), 0);
  }
  18% {
    background-color: var(--anim-dot-color-blue);
  }
  33% {
    background-color: var(--anim-dot-color-gray);
    transform: translate(var(--anim-half-dist), var(--anim-standard-dist));
  }
  50% {
    background-color: var(--anim-dot-color-gray);
    transform: translate(0, var(--anim-standard-dist));
  }
  67% {
    background-color: var(--anim-dot-color-gray);
    transform: translate(0, 0);
  }
  68% {
    background-color: var(--anim-dot-color-blue);
  }
  83% {
    background-color: var(--anim-dot-color-gray);
    transform: translate(var(--anim-standard-dist), var(--anim-standard-dist));
  }
  100% {
    background-color: var(--anim-dot-color-gray);
    transform: translate(var(--anim-standard-dist), 0);
  }
  
}

.loading-item-anim-1, .loading-item-anim-2, .loading-item-anim-3, .loading-item-anim-4 {
  padding-bottom: 0;
  animation: bounceItem 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}

.loading-item-anim-2 {
  animation-delay: 0.5s;
}

.loading-item-anim-3 {
  animation-delay: 1s;
}

.loading-item-anim-4 {
  animation-delay: 1.5s;
}

@keyframes bounceItem {
  0%, 80% {
    padding-bottom: 20px;
  }
  90% {
    padding-bottom: 31px;
  }
  100% {
    padding-bottom: 20px;
  }

}

.nav-list-highlight {
  transition: opacity 200ms ease,
              left 200ms ease,
              top 200ms ease,
              width 100ms linear,
              height 100ms linear;
}

.nav-list-highlight-2 {
  transition: opacity 200ms ease,
              left 200ms ease 50ms,
              top 200ms ease,
              width 100ms linear,
              height 100ms linear;
}

.nav-list-highlight-3 {
  transition: opacity 200ms ease,
              left 200ms ease 100ms,
              top 200ms ease,
              width 100ms linear,
              height 100ms linear;
}

.nav-list:hover > .nav-list-highlight {
  opacity: 1;
}

.nav-list:active > .nav-list-highlight {
  opacity: 0.4;
}

.nav-list:hover > .nav-list-highlight-2 {
  opacity: 1;
}

.nav-list:active > .nav-list-highlight-2 {
  opacity: 0.4;
}

.nav-list:hover > .nav-list-highlight-3 {
  opacity: 1;
}

.nav-list:active > .nav-list-highlight-3 {
  opacity: 0.4;
}

.clip-arrow-left {
  transform-origin: center;
  transform: scale(120%) rotate(180deg);
  clip-path: path('M24.207 8.207a1 1 0 0 0 0-1.414L17.843.429a1 1 0 1 0-1.414 1.414L22.086 7.5l-5.657 5.657a1 1 0 0 0 1.414 1.414l6.364-6.364ZM.5 8.5h23v-2H.5v2Z');
}

.clip-arrow-right {
  transform-origin: center;
  transform: scale(120%);
  clip-path: path('M24.207 8.207a1 1 0 0 0 0-1.414L17.843.429a1 1 0 1 0-1.414 1.414L22.086 7.5l-5.657 5.657a1 1 0 0 0 1.414 1.414l6.364-6.364ZM.5 8.5h23v-2H.5v2Z');
}

.scroll-button {
  animation: nod 5s cubic-bezier(.36,.07,.19,.97) infinite 4s;
  transform: rotate(0);
}

.scroll-button {
  animation: none;
  transform: rotate(0);
  background-color: white;
  opacity: 1;
  transition: background-color 700ms ease, opacity 700ms ease;
}

@keyframes nod {
  0% {
    transform: rotate(0)
  }
  2% {
    transform: rotate(-7.5deg)
  }
  4% {
    transform: rotate(15deg)
  }
  6% {
    transform: rotate(-30deg)
  }
  8% {
    transform: rotate(30deg)
  }
  10% {
    transform: rotate(-30deg)
  }
  12% {
    transform: rotate(30deg)
  }
  14% {
    transform: rotate(-30deg)
  }
  16% {
    transform: rotate(15deg)
  }
  18% {
    transform: rotate(-7.5deg)
  }
  20% {
    transform: rotate(0)
  }
  100% {
    transform: rotate(0)
  }
}



.clip-arrow-left {
  transform-origin: center;
  transform: scale(120%) rotate(180deg);
  clip-path: path('M24.207 8.207a1 1 0 0 0 0-1.414L17.843.429a1 1 0 1 0-1.414 1.414L22.086 7.5l-5.657 5.657a1 1 0 0 0 1.414 1.414l6.364-6.364ZM.5 8.5h23v-2H.5v2Z');
}

.clip-arrow-right {
  transform-origin: center;
  transform: scale(120%);
  clip-path: path('M24.207 8.207a1 1 0 0 0 0-1.414L17.843.429a1 1 0 1 0-1.414 1.414L22.086 7.5l-5.657 5.657a1 1 0 0 0 1.414 1.414l6.364-6.364ZM.5 8.5h23v-2H.5v2Z');
}

.scroll-button {
  animation: nod 5s cubic-bezier(.36,.07,.19,.97) infinite 4s;
  transform: rotate(0);
}